<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hotSpot">
  <select id="selectHotSpotList" resultType="hotSpot" parameterType="string">
  	SELECT * FROM HOTSPOT WHERE HOTSPOT_AREA_NAME=#{area} ORDER BY HOTSPOT_NAME ASC
  </select>

  <select id="selectHotSpotCount" resultType="_int">
  	SELECT COUNT(*) FROM HOTSPOT
  </select>
  <select id="selectHotSpotView" parameterType="string" resultType="hotSpot">
  	SELECT * FROM HOTSPOT WHERE HOTSPOT_NAME=#{name}
  </select>
</mapper>
