<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="plan">
	<select id="placeList" resultType="map" parameterType="string">
		SELECT * FROM HOTSPOT WHERE HOTSPOT_AREA_NAME = #{place}
	</select>
	<insert id="insertPlan" parameterType="map">
		INSERT INTO DAY (TV_SEQ,TR_SEQ,MEMBER_ID,TV_DATE,DAY_O,COMMENTS,HOTSPOT_NAME,HOTSPOT_AREA_NAME,TOTAL_DATE) VALUES (TV_SEQ.NEXTVAL, #{trSeq}, #{memberId}, #{tvDate}, #{dayo}, NVL(#{comments},'없음'), #{place}, #{area}, #{total})
	</insert>
	<insert id="insertBoard" parameterType="map">
		INSERT INTO BOARD VALUES(TR_SEQ.NEXTVAL,#{memberId},#{title},#{place},#{area},0,DEFAULT)
	</insert>
	<select id="searchMember" resultType="_int" parameterType="string">
		SELECT TR_SEQ, ROWNUM FROM BOARD WHERE MEMBER_ID=#{memberId} AND ROWNUM=1 ORDER BY TR_SEQ DESC
	</select>
	<select id="areadata" resultType="map" parameterType="string">
		SELECT * FROM HOTSPOT_AREA WHERE HOTSPOT_AREA_NAME=#{place}
	</select>
	<select id="myplanselect" resultType="map" parameterType="map">
		SELECT * FROM DAY JOIN HOTSPOT ON DAY.HOTSPOT_NAME=HOTSPOT.HOTSPOT_NAME WHERE TR_SEQ= #{trSeq} AND MEMBER_ID= #{memberId} ORDER BY TV_SEQ
	</select>
	<select id="totaldays" resultType="_int" parameterType="map">
		SELECT COUNT(*) FROM DAY WHERE TR_SEQ= #{trSeq} AND MEMBER_ID= #{memberId}
	</select>
	<delete id="deletePlan" parameterType="map">
		DELETE FROM DAY WHERE TR_SEQ = #{trSeq} AND MEMBER_ID=#{memberId}
	</delete>
	<delete id="deleteBoard" parameterType="map">
		DELETE FROM BOARD WHERE TR_SEQ = #{trSeq} AND MEMBER_ID=#{memberId}
	</delete>
	<insert id="updateBoard" parameterType="map">
		INSERT INTO BOARD VALUES(#{trSeq},#{memberId},#{title},#{place},#{area},0,DEFAULT)
	</insert>
	<insert id="updatePlan" parameterType="map">
		INSERT INTO DAY (TV_SEQ,TR_SEQ,MEMBER_ID,TV_DATE,DAY_O,COMMENTS,HOTSPOT_NAME,HOTSPOT_AREA_NAME,TOTAL_DATE) VALUES (TV_SEQ.NEXTVAL, #{trSeq}, #{memberId}, #{tvDate}, #{dayo}, NVL(#{comments},'없음'), #{place}, #{area}, #{total})
	</insert>
</mapper>
