<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="board">
	<resultMap type="Board" id="boardMap">
		<result column="TR_SEQ" property="trSeq"/>
		<result column="MEMBER_ID" property="memberId"/>
		<result column="TV_TITLE" property="tvTitle"/>
		<result column="VIEW_COUNT" property="viewCount"/>
		<result column="HOTSPOT_NAME" property="hotspotName"/>
		<result column="HOTSPOT_AREA_NAME" property="hotspotAreaName"/>
		<result column="HOTSPOT_AREA_IMAGE" property="hotspotAreaImg"/>
	</resultMap>
		<resultMap type="Day" id="dayMap">
		<result column="TR_SEQ" property="trSeq"/>
		<result column="MEMBER_ID" property="memberId"/>
		<result column="TV_DATE" property="tvDate"/>
		<result column="HOTSPOT_NAME" property="hotspotName"/>
		<result column="ORDER" property="order"/>
		<result column="COMMENT" property="comment"/>
		<result column="TV_SEQ" property="tvSeq"/>
		<result column="HOTSPOT_AREA_NAME" property="hotspotAreaName"/>
		<result column="TOTAL_DATE" property="totalDate"/>
		<result column="HOTSPOT_AREA_IMAGE" property="hotspotAreaImg"/>
		<result column="TV_TITLE" property="tvTitle"/>
		<result column="HOTSPOT_IMAGE" property="hotspotImg"/>
	</resultMap>
	<select id="selectList" resultMap="boardMap" resultType="Board">
		SELECT * FROM BOARD JOIN HOTSPOT_AREA ON BOARD.HOTSPOT_AREA_NAME=HOTSPOT_AREA.HOTSPOT_AREA_NAME ORDER BY BOARD.VIEW_COUNT DESC
	</select>
	<select id="selectBoardCount" resultType="_int">
		SELECT COUNT(*) FROM BOARD
	</select>
	<select id="selectBoardTitle" parameterType="map" resultType="Board" resultMap="boardMap">
		SELECT * FROM BOARD JOIN HOTSPOT_AREA ON (BOARD.HOTSPOT_AREA_NAME=HOTSPOT_AREA.HOTSPOT_AREA_NAME) WHERE TR_SEQ=#{no} AND MEMBER_ID=#{id}
	</select>
	<select id="selectBoardView" parameterType="map" resultType="Day" resultMap="dayMap">
		SELECT * FROM DAY JOIN HOTSPOT ON (HOTSPOT.HOTSPOT_NAME=DAY.HOTSPOT_NAME) WHERE TR_SEQ=#{no} AND MEMBER_ID=#{id} ORDER BY TV_DATE, DAY_O
	</select>
	<select id="boardDetail" parameterType="map" resultType="Day" resultMap="dayMap">
		SELECT * FROM DAY JOIN HOTSPOT USING (HOTSPOT_NAME) WHERE TV_DATE=#{date} AND TR_SEQ=#{no} ORDER BY DAY_O
	</select>
</mapper>
