<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="cacheEnabled" value="false"/>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	<typeAliases>
		<typeAlias type="com.kh.spring.hotSpot.model.vo.HotSpot" alias="hotSpot"/>
		<typeAlias type="com.kh.spring.faq.model.vo.Faq" alias="faq"/>
		<typeAlias type="com.kh.spring.board.model.vo.Board" alias="Board"/>
		<typeAlias type="com.kh.spring.board.model.vo.Day" alias="Day"/>
		<typeAlias type="com.kh.spring.member.model.vo.Member" alias="member"/>
		<typeAlias type="com.kh.spring.board.model.vo.BoardComment" alias="BoardComment"/>
		<typeAlias type="com.kh.spring.board.model.vo.Like" alias="like"/>
	</typeAliases>
</configuration>
