<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="cacheEnabled" value="false"/>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	<typeAliases>
		<typeAlias type="com.kh.spring.hotspot.model.vo.HotSpot" alias="hotspot"/>
		<typeAlias type="com.kh.spring.faq.model.vo.Faq" alias="faq"/>
		<typeAlias type="com.kh.spring.board.model.vo.Board" alias="Board"/>
	</typeAliases>
</configuration>
